<!-- fim: [exco] new template. -->
<!-- BEGIN row -->
<tr class="{CSS_ROW}">
    <td>{TXT_ID}</td>
    <td>{TXT_TITLE}</td>
    <td>{TXT_AVAILABILITY}</td>
    <td>{TXT_USAGES}</td>
    <td>
        <a class="il_ContainerItemCommand {CSS_HIDE_INTEGRATION}" href="{LINK_INTEGRATION}" target="_blank">{TXT_INTEGRATION}</a>
        <a class="il_ContainerItemCommand" href="{LINK_EDIT}">{TXT_EDIT}</a>
		<!-- BEGIN delete_link -->
		<a class="il_ContainerItemCommand" href="{LINK_DELETE}">{TXT_DELETE}</a>
		<!-- END delete_link -->
	</td>   
</tr>
<!-- END row -->