<!-- fim: [exco] new template. -->
<!-- BEGIN row -->
<tr class="{CSS_ROW}">
    <TD>
        {ROWSELECTOR}
        <span title="{TXT_UPDATE_INFO}" style="{FLOAT_RIGHT}zoom: 0.75">
            <img class="{UNHIDE_LOCKED}hidden" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/MultiVc/templates/images/icon_peusr.svg" alt="{TXT_UPDATE_INFO}" height="32" width="32" />
            <img class="{UNHIDE_UNLOCKED}hidden" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/MultiVc/templates/images/icon_task.svg" alt="{TXT_UPDATE_INFO}" height="32" width="32" />
        </span>
    </TD>
    <td>{STARTTIME}</td>
    <td>{ENDTIME}</td>
    <td>{DURATION}</td>
    <td>
        <a href="{PLAYBACK}" target="_blank" title="{REC_LENGTH}" class="{UNHIDE_LINK}hidden">{TXT_PLAYBACK}</a>
    </td>
    <td>
        <a href="{DOWNLOAD}" title="{REC_ID}" target="_blank" download type="video/mp4" class="{UNHIDE_LINK}hidden">{TXT_DOWNLOAD}</a>
    </td>
</tr>
<!-- END row -->