<div class="modal fade" id="modalIntegration" tabindex="-1" role="dialog" aria-labelledby="modalIntegrationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIntegrationLabel">Integration</h5>
            </div>
            <div class="modal-body">
                <iframe id="oauthFrame" src="https://webexapis.com/v1/authorize?client_id=C1cc0ecc0b6c4cf4adb19a0754a611456a4d8b38fced968c8631dba27c300fdc0&response_type=code&redirect_uri=https%3A%2F%2Fcass.aptum.net%2Frelease_6&scope=meeting%3Arecordings_read%20meeting%3Aadmin_schedule_write%20meeting%3Aschedules_read%20meeting%3Aparticipants_read%20meeting%3Aadmin_participants_read%20meeting%3Apreferences_write%20meeting%3Arecordings_write%20meeting%3Apreferences_read%20meeting%3Aadmin_recordings_read%20meeting%3Aschedules_write%20spark%3Akms%20meeting%3Acontrols_write%20meeting%3Aadmin_recordings_write%20meeting%3Acontrols_read%20meeting%3Aparticipants_write%20meeting%3Aadmin_schedule_read&state=wbxmvc_9876543210654321" width="100%" height="600px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_accept_termsoffuse">Akzeptieren</button>
            </div>
        </div>
    </div>
</div>