<form name="joinmeeting" id="joinmeeting" method="post" action="https://{SITEURL}.webex.com/{SITEURL}/m.php?launchApp=true">
    <input type="hidden" name="AT" value="JM">
    <input type="hidden" name="MK" value="{MEETINGKEY}">
    <input type="hidden" name="PW" value="{MEETINGPASSWORD}">
    <input type="hidden" name="AN" value="{ATTENDEENAME}">
    <input type="hidden" name="AE" value="{ATTENDEEEMAIL}">
    <input type="hidden" name="CO">
    <input type="hidden" name="MC">
    <input type="hidden" name="BU" value="{BACKURL}">
    <input type="hidden" value="Submit" name="B1">
</form>


<script>
    //window.setTimeout(function() {
        $('#joinmeeting', document).submit();
    //}, 4000);
</script>